.card{
    @include flexbox(flex-start);
    flex-direction: column;
    justify-content: space-around;

    box-shadow: 0 2rem 4rem rgba($Very-dark-blackish-blue, .4);
    border-radius: .5rem;
    padding: 2rem;

    & > *:not(:last-child) {
        margin-bottom: .5rem;
    }

    &__profile{
    @include flexbox(center);
        
    }

    &__picture{
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
        overflow: hidden;
    }

    &__photo{
        width: 100%;
        border-radius: 50%;
    }


    &__info{
        margin-left: 1.5rem;
        margin-top: -1rem;
    }

}